body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.big {
    transform: scale(3.0); 
    transform-origin: 50% 0;
    -webkit-transform: scale(3.0); 
    -webkit-transform-origin: 50% 0; 
    -moz-transform: scale(3.0);
    -moz-transform-origin: 50% 0; 
    -o-transform: scale(3.0); 
    -o-transform-origin: 50% 0;
    -ms-transform: scale(3.0); 
    -ms-transform-origin: 50% 0;
    margin-top: 5vh;
}

.btn {
    font-size: .5em;
    padding: .25rem .35rem;
}

.instructions {
    font-size: .5em;
}

.result {
    font-size: 1.5em;
}

.pred {
    font-size: 2em;
    font-weight: bold;
}

ul {
    padding-left: 5;
}